<%- include('dashboardheaderadmin') %>

<div class="item item3 main">

    <div class="adminstafflist">
        <h1>List Of Admin Staff</h1>
        <% if(adminStaffData.length > 0){ %>
        <% adminStaffData.forEach(function(row) { %> 
            <ul>
                <li><a href="#">ID: <%= row._id  %></a> <a href="#">Name: <%= row.Firstname %> <%= row.Lastname %></a> <a href="#">Email: <%= row.Email %> </a> <a href="#" onclick="openViewAdminProfileModal()">View Profile</a></li>
            </ul>
            
        <%  }) } %>          
        
    </div>
  <!--Send Message Modal starts here-->
 
  <div class="modal-parent-send-message">
    <div class="modal-send-message">
        <h1 style="text-align: center;">Send Message</h1>        
        <form action="dashboardadmin/Send" method="post" role="form">
          <label for="messageto">Message To</label>
          <input name="messageto" type="email" placeholder="Enter Recipient's Email..."/>
          <label for="writemessage">Write Message</label><br/>
          <textarea name="writemessage" type="text" placeholder="Enter Your Message here...">

          </textarea><br/><br/>
          <button type="submit">Send Message</button><button type="button" onclick="closeSendMessageModal()">cancel</button><br/><br/>        
        </form>
        <span class="X-send-message" onclick="closeSendMessageModal()">&times;</span>
    </div>
  </div>
  <!--Send Message Modal ends here-->
 


</div>
<%- include('modal') %>
<%- include('modaladmin') %>
<%- include('modalviewadminprofile') %> 
<%- include('dashboardfooteradmin') %>