<%- include('dashboardheaderadmin') %>

<div class="item item3 main">

    
    <div class="container inbox">
        <% if(msg != ''){ %>
            <h1 style="color: greenyellow;"><%= msg %></h1>
        <% } %>

        <h1>Edit Profile</h1> 
         
           
                       
    </div>      


  
    
 

</div>
<%- include('modal') %>
  <%- include('modaladmin') %> 
  <%- include('modalreply') %> 
  <%- include('dashboardfooteradmin') %>




