<%- include('dashboardheaderadmin') %>

<div class="item item3 main">

    
    <div class="container inbox">
        <% if(msg != ''){ %>
            <h1 style="color: lightgreen;"><%= msg %></h1>
        <% } %>

        <h1>Welcome to Inbox</h1> 
        <hr/>
        <% if(clientsMessagesData.length > 0) { %>
          <% clientsMessagesData.forEach((row) => { %>

        <div class="inbox-msg-box">
            
              <ul>                
                <li class="messageid">
                  Message&nbsp;Id:&nbsp;<%= row._id %> 
                </li>
                <li>
                  Dated:&nbsp;<%= row.Date %> 
                </li>
                <br/>
                <li>
                  First&nbsp; Name:&nbsp;<%= row.Firstname %> 
                </li>
                <li>
                  Last&nbsp;Name:&nbsp;<%= row.Lastname %> 
                </li>
                <li>
                  Mobile&nbsp;Number:&nbsp;<%= row.Mobilenumber %> 
                </li>
                <li>
                  Email:&nbsp;<a href="#" class="currentEmail"><%= row.Email %></a> 
                </li>
                <li>
                  Message:&nbsp;<%= row.WriteMessage %> 
                </li>
                <br/> 
                <li>
                  <a href="#" onclick="openReplyModal()">Reply</a><a href="#" onclick="openForwardMsgModal()">Forward&nbsp;Message</a><a href="../delete/deleteinboxmsg/<%= row._id %>" onclick="return confirm('Are you sure, you want to delete this message?');">Delete&nbsp;This&nbsp;Message</a>
                </li>              
              </ul>
                           
            </div>

      
            
            <%  }) }  %>



           
                 
         
           
                       
    </div>      


  
    
 

</div>
<%- include('modal') %>
  <%- include('modaladmin') %> 
  <%- include('modalreply') %>
  <%- include('modaldeleteinboxmsg') %> 
  <%- include('modalforward') %>
  <%- include('dashboardfooteradmin') %>




