<%- include('dashboardheaderadmin') %>

<div class="item item3 main">

    
    <div class="container inbox">
        <% if(msg != ''){ %>
            <h1 style="color: lightgreen;"><%= msg %></h1>
        <% } %>

        <h1>Welcome to Outbox</h1> 
        <hr/>
        <% if(outBoxData.length > 0) { %>
          <% outBoxData.forEach((row) => { %>
            <div class="inbox-msg-box">
              <ul>
                <li>
                  Message&nbsp;Id:&nbsp;<%= row._id %> 
                </li>
                <li>
                  Dated:&nbsp;<%= row.Date %> 
                </li>
                <br/>
                <li>
                  Message&nbsp;To:&nbsp;<%= row.MessageTo %> 
                </li>                
                  Message:&nbsp;<%= row.Message %> 
                </li>
                <br/><br/>
                <li>
                  <a href="#" onclick="openReplyModal()">Reply</a><a href="#" onclick="openForwardMsgModal()">Forward&nbsp;Message</a><a href="../delete/deleteoutboxmsg/<%= row._id %>" onclick="return confirm('Are you sure, you want to delete this message?');">Delete&nbsp;This&nbsp;Message</a>
                </li>              
              </ul>             
            </div>
               
        <%  }) } %> 
           
                       
    </div>      


  
    
 

</div>
<%- include('modal') %>
  <%- include('modaladmin') %> 
  <%- include('modalreply') %> 
  <%- include('modalforward') %>
  <%- include('dashboardfooteradmin') %>




