<%- include('dashboardheaderadmin') %>

<div class="item item3 main">    

    <div class="container inbox recyclebin">
        <% if(msg != ''){ %>
            <h1 style="color: lightgreen;"><%= msg %></h1>
        <% } %>

        <h1>Recycle Bin</h1> 
        <h3 >All Deleted Data</h3>

        <% if(deletedData) { %>
          <%= deletedData %>
        <% } %>
        
        <h3>Deleted Customers' Accounts' Details:</h3>
           

                
        <ul>            
          <li>            
                         
          </li>           
        </ul>
        
        
        <h3>Deleted Admin Staffs' Accounts' Details:</h3>
        <ul>
          <li></li>
          <li></li>
        </ul>

        <h3>Deleted Inbox Messages:</h3>
        <ul>
          <li></li>
          <li></li>
        </ul>

        <h3>Deleted Outbox Messages:</h3>
        <ul>
          <li></li>
          <li></li>
        </ul>

        <h3>Deleted Gallery Images:</h3>
        <ul>
          <li></li>
          <li></li>
        </ul>

        <h3>Deleted Gallery Videos:</h3>
        <ul>
          <li></li>
          <li></li>
        </ul>


        
          
          
          
         
           
                       
    </div>  
 

</div>
<%- include('modal') %>
  <%- include('modaladmin') %> 
  <%- include('modalreply') %> 
  <%- include('dashboardfooteradmin') %>




